flow.json
[{"id":"35ddd70b.475468","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5aad121e.c16cac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"785f327a.4b88ac","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"cca78d58.d5b85","type":"inject","z":"35ddd70b.475468","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":220,"wires":[["548f0330.d70bfc"]]},{"id":"3b3e4a7f.9ae5e6","type":"debug","z":"35ddd70b.475468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":120,"wires":[]},{"id":"548f0330.d70bfc","type":"function","z":"35ddd70b.475468","name":"online node-red","func":"msg.payload = 'timestamp: '+ msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["3b3e4a7f.9ae5e6"]]},{"id":"87ff0373.f0e9a","type":"inject","z":"5aad121e.c16cac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":220,"wires":[["3b7eb32e.977f3c"]]},{"id":"49fb6bdd.1d8d64","type":"debug","z":"5aad121e.c16cac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":120,"wires":[]},{"id":"3b7eb32e.977f3c","type":"function","z":"5aad121e.c16cac","name":"online node-red","func":"msg.payload = 'timestamp: '+ msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["49fb6bdd.1d8d64"]]},{"id":"1403b1b2.006b6e","type":"inject","z":"785f327a.4b88ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":180,"wires":[["8e9c78cd.4c45f8"]]},{"id":"43e20ef.500f1f","type":"debug","z":"785f327a.4b88ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":80,"wires":[]},{"id":"8e9c78cd.4c45f8","type":"function","z":"785f327a.4b88ac","name":"online node-red","func":"msg.payload = 'timestamp: '+ msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["43e20ef.500f1f"]]}]