flow.json
[{"id":"35ddd70b.475468","type":"tab","label":"EventSampleWorkflow","disabled":false,"info":""},{"id":"f185001b.621f1","type":"subflow","name":"s3 Signed UL URL Gen","info":"Description\n-----------\nThe purpose of this subflow is to generate a Signed Upload URL for a file on a S3 storage. This is needed for further services to generate a new file on a S3.\n\nInputs\n------\n- msg.wf.out.file.bucket -> required target s3 bucket name\n- msg.wf.out.file.key -> required target s3 path + filename\n\nOutputs\n-------\nOut 1:\n- msg.wf.out.file.uri -> the Signed Upload URL\n\nOut 2:\n- msg.wf.error -> optional error output, can be eg. connected to Error handler subflow\n","in":[{"x":180,"y":140,"wires":[{"id":"5040f38c.66c5dc"}]}],"out":[{"x":840,"y":300,"wires":[{"id":"15792e52.a439f2","port":0}]},{"x":840,"y":220,"wires":[{"id":"377826fc.4d012a","port":0},{"id":"ac3dff41.85d29","port":0}]}],"inputLabels":["(req) msg.wf.out.file.bucket & (req) msg.wf.out.file.key"],"outputLabels":["msg.wf.out.file.uri","(opt) msg.wf.error"],"icon":"node-red/file.png"},{"id":"9314b7e.4ee3b48","type":"subflow","name":"s3 Signed DL URL Gen","info":"Description\n-----------\nThe purpose of this subflow is to generate a Signed Download URL for a file on a S3 storage. This is needed for further services to access the file.\n\nInputs\n------\n- msg.wf.in.file.bucket -> required source s3 bucket name\n- msg.wf.in.file.key -> required source s3 path + filename\n\nOutputs\n-------\nOut 1:\n- msg.wf.in.file.uri -> the Signed Download URL\n\nOut 2:\n- msg.wf.error -> optional error output, can be eg. connected to Error handler subflow\n","in":[{"x":160,"y":160,"wires":[{"id":"5eb744c7.2e465c"}]}],"out":[{"x":980,"y":320,"wires":[{"id":"399c9ec1.4cc0d2","port":0}]},{"x":980,"y":240,"wires":[{"id":"71e8afdc.c0e8b","port":0},{"id":"311b673c.269458","port":0}]}],"inputLabels":["(req) msg.wf.in.file.bucket & (req) msg.wf.in.file.key"],"outputLabels":["msg.wf.in.file.uri","(opt) msg.wf.error"],"icon":"node-red/file.png"},{"id":"1979ab4d.897af5","type":"subflow","name":"Transcode FFMPEG","info":"","in":[{"x":100,"y":40,"wires":[{"id":"28973d3a.117452"}]}],"out":[{"x":960,"y":860,"wires":[{"id":"6a8199c9.931118","port":0}]},{"x":960,"y":380,"wires":[{"id":"ea8d8986.eef188","port":0},{"id":"83f2f4aa.382668","port":0},{"id":"94f50d68.555c8","port":0}]}]},{"id":"cf581c2d.884c4","type":"subflow","name":"Error Handler","info":"Description\n-----------\nThe purpose of this subflow is to to send a workflow failed event to the eventstore.\n\nInputs\n------\n- msg.wf.error -> required: the error message\n\nOutputs\n-------\nthere are no outputs","in":[{"x":300,"y":160,"wires":[{"id":"1fc468b9.b8e337"}]}],"out":[],"inputLabels":["(req) msg.wf.error"],"icon":"node-red/alert.png"},{"id":"93a6fd57.d2d36","type":"eventstoreconfig","z":"","host":"qmc-eventstore.qmc","port":"1113","roleIdentifiers":"","groupIdentifiers":"","userIdentifiers":""},{"id":"c01d2f8c.9d6e9","type":"eventstoreconfig","z":"","host":"qmc-eventstore.qmc","port":"1113","roleIdentifiers":"","groupIdentifiers":"","userIdentifiers":""},{"id":"776a935f.798dfc","type":"eventstoreconfig","z":"","host":"qmc-eventstore.qmc","port":"1113","roleIdentifiers":"","groupIdentifiers":"","userIdentifiers":""},{"id":"cca78d58.d5b85","type":"inject","z":"35ddd70b.475468","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["62134c3.80322b4"]]},{"id":"3b3e4a7f.9ae5e6","type":"debug","z":"35ddd70b.475468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"wf","x":1060,"y":620,"wires":[]},{"id":"5040f38c.66c5dc","type":"function","z":"f185001b.621f1","name":"Get SignedUploadURL","func":"var bucket = 'qmc-filetransfer';\nvar key = 'upload1/output.mp4';\nvar operation = \"UP\";\n\nmsg.method = \"GET\";\nmsg.payload = null;\nmsg.url = \"http://qmc-filetransfer-api.qmc:3000/s3/buckets/\" + bucket + \"/files/url?key=\" + key + \"&action=\" + operation;\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["d68cda31.fae0c8"]]},{"id":"d68cda31.fae0c8","type":"http request","z":"f185001b.621f1","name":"","method":"use","ret":"txt","url":"","tls":"","x":390,"y":180,"wires":[["645aed42.4c9af4"]]},{"id":"645aed42.4c9af4","type":"switch","z":"f185001b.621f1","name":"Request Error Handler","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":220,"wires":[["626b055d.7ae5dc"],["377826fc.4d012a"]]},{"id":"626b055d.7ae5dc","type":"function","z":"f185001b.621f1","name":"encode URI","func":"msg.payload = encodeURIComponent(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["15792e52.a439f2"]]},{"id":"15792e52.a439f2","type":"change","z":"f185001b.621f1","name":"","rules":[{"t":"set","p":"wf.out.file.uri","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[[]]},{"id":"377826fc.4d012a","type":"change","z":"f185001b.621f1","name":"","rules":[{"t":"set","p":"wf.error","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":220,"wires":[[]]},{"id":"86931638.e568c8","type":"catch","z":"f185001b.621f1","name":"","scope":null,"x":380,"y":400,"wires":[["ac3dff41.85d29"]]},{"id":"ac3dff41.85d29","type":"change","z":"f185001b.621f1","name":"","rules":[{"t":"set","p":"wf.error","pt":"msg","to":"error","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":400,"wires":[[]]},{"id":"ed862257.03251","type":"comment","z":"f185001b.621f1","name":"Error handling","info":"","x":370,"y":360,"wires":[]},{"id":"ec136330.a829e","type":"http request","z":"9314b7e.4ee3b48","name":"","method":"use","ret":"txt","url":"","tls":"","x":370,"y":200,"wires":[["c16af0e6.1656e","b6ac30e3.1da8e"]]},{"id":"5eb744c7.2e465c","type":"function","z":"9314b7e.4ee3b48","name":"Get SignedDownloadURL","func":"var bucket = 'qmc-filetransfer';\nvar key = 'output11.mp4';\nvar operation = \"DOWN\";\n\nmsg.method = \"GET\";\nmsg.payload = null;\nmsg.url = \"http://qmc-filetransfer-api.qmc:3000/s3/buckets/\" + bucket + \"/files/url?key=\" + key + \"&action=\" + operation;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["ec136330.a829e"]]},{"id":"fcaf20ef.82e63","type":"function","z":"9314b7e.4ee3b48","name":"encode URI","func":"msg.payload = encodeURIComponent(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["399c9ec1.4cc0d2"]]},{"id":"399c9ec1.4cc0d2","type":"change","z":"9314b7e.4ee3b48","name":"","rules":[{"t":"set","p":"wf.in.file.uri","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":320,"wires":[[]]},{"id":"c16af0e6.1656e","type":"switch","z":"9314b7e.4ee3b48","name":"Request Error Handler","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":240,"wires":[["fcaf20ef.82e63"],["71e8afdc.c0e8b"]]},{"id":"71e8afdc.c0e8b","type":"change","z":"9314b7e.4ee3b48","name":"","rules":[{"t":"set","p":"wf.error","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":240,"wires":[[]]},{"id":"3aec76e4.ce216a","type":"catch","z":"9314b7e.4ee3b48","name":"","scope":null,"x":360,"y":420,"wires":[["311b673c.269458"]]},{"id":"311b673c.269458","type":"change","z":"9314b7e.4ee3b48","name":"","rules":[{"t":"set","p":"wf.error","pt":"msg","to":"error","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":420,"wires":[[]]},{"id":"58169776.87d538","type":"comment","z":"9314b7e.4ee3b48","name":"Error handling","info":"","x":350,"y":380,"wires":[]},{"id":"62134c3.80322b4","type":"subflow:9314b7e.4ee3b48","z":"35ddd70b.475468","name":"","x":350,"y":320,"wires":[["5d9ed660.0ae2f8"],[]]},{"id":"5d9ed660.0ae2f8","type":"subflow:f185001b.621f1","z":"35ddd70b.475468","name":"","x":530,"y":540,"wires":[["49669178.f5b31"],[]]},{"id":"ea8d8986.eef188","type":"change","z":"1979ab4d.897af5","name":"","rules":[{"t":"set","p":"wf.error","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":380,"wires":[[]]},{"id":"dbee28fa.81a038","type":"http request","z":"1979ab4d.897af5","name":"","method":"use","ret":"txt","url":"","tls":"","x":350,"y":160,"wires":[["9ad9d4b7.4c5b08"]]},{"id":"537d19b7.d999e8","type":"function","z":"1979ab4d.897af5","name":"Transcode","func":"msg.method = \"POST\";\nmsg.payload = \"\";\nmsg.url = \"http://qmc-transcode-api.qmc:3000/ffmpeg/320x240?in=\" + msg.wf.in.file.uri + \"&out=\" + msg.wf.out.file.uri;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["dbee28fa.81a038"]]},{"id":"9ad9d4b7.4c5b08","type":"switch","z":"1979ab4d.897af5","name":"Request Error Handler","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"201","vt":"str"},{"t":"neq","v":"201","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":200,"wires":[["7e32229.4cd38dc"],["ea8d8986.eef188"]]},{"id":"6a8379b2.d193f8","type":"change","z":"1979ab4d.897af5","name":"","rules":[{"t":"set","p":"wf.subjob.id","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":280,"wires":[["2655ccc1.9bacd4"]]},{"id":"7e32229.4cd38dc","type":"json","z":"1979ab4d.897af5","name":"","property":"payload","action":"","pretty":false,"x":330,"y":240,"wires":[["6a8379b2.d193f8"]]},{"id":"d9b6b1b5.dd498","type":"eventstore","z":"1979ab4d.897af5","name":"","uri":"93a6fd57.d2d36","eventType":"1","x":350,"y":80,"wires":[["537d19b7.d999e8"]]},{"id":"28973d3a.117452","type":"function","z":"1979ab4d.897af5","name":"set event message","func":"msg.wf.step = \"Start Transcoding Job\"\n\nmsg.payload = {\n    jobId: msg.wf.jobid,\n    guid: msg.wf.jobid,\n    name: msg.wf.name,\n    time: new Date(),\n    previous: msg.wf.step,\n    extensionData: {\n        data: msg.wf.in.file.uri\n    }\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["d9b6b1b5.dd498"]]},{"id":"2dbf3bca.a53564","type":"eventstore","z":"1979ab4d.897af5","name":"","uri":"93a6fd57.d2d36","eventType":"1","x":350,"y":360,"wires":[["9af15bb8.34acf8"]]},{"id":"2655ccc1.9bacd4","type":"function","z":"1979ab4d.897af5","name":"set event message","func":"msg.wf.step = \"Transcoding Job inserted - checking status\"\n\nmsg.payload = {\n    jobId: msg.wf.jobid,\n    guid: msg.wf.jobid,\n    name: msg.wf.name,\n    time: new Date(),\n    previous: msg.wf.step,\n    extensionData: {\n        data: msg.wf.subjob.id\n    }\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["2dbf3bca.a53564"]]},{"id":"9af15bb8.34acf8","type":"function","z":"1979ab4d.897af5","name":"Transcode Job Details","func":"msg.method = \"GET\";\nmsg.payload = null;\nmsg.url = \"http://qmc-transcode-api.qmc:3000/ffmpeg/jobs?id=\" + msg.wf.subjob.id;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["2795f5b.3a9120a"]]},{"id":"2795f5b.3a9120a","type":"http request","z":"1979ab4d.897af5","name":"","method":"use","ret":"txt","url":"","tls":"","x":350,"y":480,"wires":[["9c9eb18d.f9eb4"]]},{"id":"9c9eb18d.f9eb4","type":"switch","z":"1979ab4d.897af5","name":"Request Error Handler","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":520,"wires":[["2a8704be.f52bcc"],["ea8d8986.eef188"]]},{"id":"faa458b9.704e38","type":"change","z":"1979ab4d.897af5","name":"","rules":[{"t":"set","p":"wf.subjob.details","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":600,"wires":[["54ae7631.7dab28"]]},{"id":"81d8ffa5.72ebb","type":"switch","z":"1979ab4d.897af5","name":"is Transcoding?","property":"wf.subjob.details.progress","propertyType":"msg","rules":[{"t":"neq","v":"100","vt":"num"},{"t":"eq","v":"100","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":360,"y":720,"wires":[["2342c4c3.fbf41c"],["b2122368.dd043"]]},{"id":"2342c4c3.fbf41c","type":"change","z":"1979ab4d.897af5","name":"","rules":[{"t":"set","p":"wf.subjob.progress","pt":"msg","to":"wf.subjob.details.progress","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":680,"wires":[["ef2cb3f7.aac4c"]]},{"id":"b2122368.dd043","type":"change","z":"1979ab4d.897af5","name":"","rules":[{"t":"set","p":"wf.subjob.progress","pt":"msg","to":"wf.subjob.details.progress","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":760,"wires":[["713aa5ee.3c779c"]]},{"id":"2a8704be.f52bcc","type":"json","z":"1979ab4d.897af5","name":"","property":"payload","action":"","pretty":false,"x":330,"y":560,"wires":[["faa458b9.704e38"]]},{"id":"713aa5ee.3c779c","type":"function","z":"1979ab4d.897af5","name":"set event message","func":"msg.wf.step = \"Transcoding finished\"\n\nmsg.payload = {\n    jobId: msg.wf.jobid,\n    guid: msg.wf.jobid,\n    name: msg.wf.name,\n    time: new Date(),\n    previous: msg.wf.step,\n    extensionData: {\n        data: msg.wf.subjob.details\n    }\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":370,"y":820,"wires":[["6a8199c9.931118"]]},{"id":"6a8199c9.931118","type":"eventstore","z":"1979ab4d.897af5","name":"","uri":"93a6fd57.d2d36","eventType":"1","x":350,"y":860,"wires":[[]]},{"id":"ef2cb3f7.aac4c","type":"function","z":"1979ab4d.897af5","name":"set event message","func":"msg.wf.step = \"Transcoding ..\"\n\nmsg.payload = {\n    jobId: msg.wf.jobid,\n    guid: msg.wf.jobid,\n    name: msg.wf.name,\n    time: new Date(),\n    previous: msg.wf.step,\n    extensionData: {\n        data: msg.wf.subjob.progress\n    }\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":930,"y":680,"wires":[["524fe26b.4c2aac"]]},{"id":"524fe26b.4c2aac","type":"eventstore","z":"1979ab4d.897af5","name":"","uri":"93a6fd57.d2d36","eventType":"1","x":910,"y":720,"wires":[["7cd82e10.ca197"]]},{"id":"7cd82e10.ca197","type":"delay","z":"1979ab4d.897af5","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":760,"wires":[["9af15bb8.34acf8"]]},{"id":"4693c24a.00014c","type":"comment","z":"1979ab4d.897af5","name":"Transcoding Status Loop","info":"","x":350,"y":400,"wires":[]},{"id":"34d83054.37e0c","type":"comment","z":"1979ab4d.897af5","name":"1 -> Loop ; 2 -> Finish","info":"","x":340,"y":680,"wires":[]},{"id":"701b82c.02c497c","type":"catch","z":"1979ab4d.897af5","name":"","scope":null,"x":800,"y":300,"wires":[["83f2f4aa.382668"]]},{"id":"83f2f4aa.382668","type":"change","z":"1979ab4d.897af5","name":"","rules":[{"t":"set","p":"wf.error","pt":"msg","to":"error","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":340,"wires":[[]]},{"id":"efa7971b.023198","type":"comment","z":"1979ab4d.897af5","name":"Error handling","info":"","x":790,"y":260,"wires":[]},{"id":"54ae7631.7dab28","type":"function","z":"1979ab4d.897af5","name":"Subjob has errors?","func":"if (msg.wf.subjob.details.hasOwnProperty('failedReason')) {\n    return [ null, msg ];\n} else {\n    return [ msg, null ];\n}\n\n","outputs":2,"noerr":0,"x":370,"y":640,"wires":[["81d8ffa5.72ebb"],["94f50d68.555c8"]]},{"id":"94f50d68.555c8","type":"change","z":"1979ab4d.897af5","name":"","rules":[{"t":"set","p":"wf.error","pt":"msg","to":"wf.subjob.details.failedReason","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":420,"wires":[[]]},{"id":"49669178.f5b31","type":"function","z":"35ddd70b.475468","name":"Transcode","func":"msg.method = \"POST\";\nmsg.payload = \"\";\nmsg.url = \"http://qmc-transcode-api.qmc:3000/ffmpeg/320x240?in=\" + msg.wf.in.file.uri + \"&out=\" + msg.wf.out.file.uri;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":380,"wires":[["a7b5980b.999278"]]},{"id":"1fc468b9.b8e337","type":"function","z":"cf581c2d.884c4","name":"set event message","func":"msg.payload = {\n    jobId: msg.wf.jobid,\n    guid: msg.wf.jobid,\n    name: msg.wf.name,\n    time: new Date(),\n    previous: msg.wf.step,\n    extensionData: {\n        data: msg.wf.error\n    }\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["cbe378a7.e01d48"]]},{"id":"cbe378a7.e01d48","type":"eventstore","z":"cf581c2d.884c4","name":"","uri":"c01d2f8c.9d6e9","eventType":"3","x":450,"y":200,"wires":[["bb02e6a4.0a7ac8"]]},{"id":"bb02e6a4.0a7ac8","type":"debug","z":"cf581c2d.884c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":260,"wires":[]},{"id":"a7b5980b.999278","type":"http request","z":"35ddd70b.475468","name":"","method":"use","ret":"txt","url":"","tls":"","x":900,"y":440,"wires":[["3b3e4a7f.9ae5e6","fe4126a1.845e78"]]},{"id":"b6ac30e3.1da8e","type":"debug","z":"9314b7e.4ee3b48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":100,"wires":[]},{"id":"fe4126a1.845e78","type":"debug","z":"35ddd70b.475468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":440,"wires":[]},{"id":"70e74e8e.266d8","type":"eventstore","z":"35ddd70b.475468","name":"flow-start","uri":"776a935f.798dfc","eventType":"0","x":400,"y":700,"wires":[["66672aae.1f6884"]]},{"id":"1234fbf3.718884","type":"debug","z":"35ddd70b.475468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":1280,"wires":[]},{"id":"66672aae.1f6884","type":"delay","z":"35ddd70b.475468","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":700,"wires":[["4ed07603.5d0338"]]},{"id":"289604a5.88fc3c","type":"eventstore","z":"35ddd70b.475468","name":"download complete","uri":"776a935f.798dfc","eventType":"1","x":1050,"y":700,"wires":[["167ef4a2.0d23ab"]]},{"id":"167ef4a2.0d23ab","type":"delay","z":"35ddd70b.475468","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":820,"wires":[["d02e2141.5efa4"]]},{"id":"6213938.c560e6c","type":"delay","z":"35ddd70b.475468","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1200,"wires":[["fa1b69b0.711c38"]]},{"id":"e36a5769.b92498","type":"eventstore","z":"35ddd70b.475468","name":"flow-complete","uri":"776a935f.798dfc","eventType":"2","x":1020,"y":1280,"wires":[["1234fbf3.718884"]]},{"id":"3088aeaa.38d422","type":"eventstore","z":"35ddd70b.475468","name":"mp4 transcoding done","uri":"776a935f.798dfc","eventType":"1","x":1040,"y":1040,"wires":[["c19868d1.8ced58"]]},{"id":"50ea4836.ec6c38","type":"delay","z":"35ddd70b.475468","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1040,"wires":[["a3c81f86.544d1"]]},{"id":"4ed07603.5d0338","type":"change","z":"35ddd70b.475468","name":"File Downloader","rules":[{"t":"set","p":"payload.previous","pt":"msg","to":"File Downloader","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":700,"wires":[["289604a5.88fc3c"]]},{"id":"fa1b69b0.711c38","type":"change","z":"35ddd70b.475468","name":"File Uploader","rules":[{"t":"set","p":"payload.previous","pt":"msg","to":"File Uploader","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1200,"wires":[["a654d800.609ee8"]]},{"id":"a654d800.609ee8","type":"eventstore","z":"35ddd70b.475468","name":"upload complete","uri":"776a935f.798dfc","eventType":"1","x":1020,"y":1200,"wires":[["e36a5769.b92498"]]},{"id":"d02e2141.5efa4","type":"change","z":"35ddd70b.475468","name":"Encoding Analyser","rules":[{"t":"set","p":"payload.previous","pt":"msg","to":"Encoging Analyser","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":820,"wires":[["9c0f6c62.351f5"]]},{"id":"9c0f6c62.351f5","type":"eventstore","z":"35ddd70b.475468","name":"encoding decision made","uri":"776a935f.798dfc","eventType":"1","x":1070,"y":820,"wires":[["50ea4836.ec6c38"]]},{"id":"a3c81f86.544d1","type":"change","z":"35ddd70b.475468","name":"Mp4 Trancoding","rules":[{"t":"set","p":"payload.previous","pt":"msg","to":"Mp4 Trancoding","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1040,"wires":[["3088aeaa.38d422"]]},{"id":"c19868d1.8ced58","type":"delay","z":"35ddd70b.475468","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1120,"wires":[["54ad4b8d.5bbac4"]]},{"id":"54ad4b8d.5bbac4","type":"change","z":"35ddd70b.475468","name":"HMS Transscrption","rules":[{"t":"set","p":"payload.previous","pt":"msg","to":"HMS Transscrption","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1120,"wires":[["ea416a2b.6f9648"]]},{"id":"ea416a2b.6f9648","type":"eventstore","z":"35ddd70b.475468","name":"hms transscription done","uri":"776a935f.798dfc","eventType":"1","x":1050,"y":1120,"wires":[["6213938.c560e6c"]]},{"id":"17758502.503edb","type":"inject","z":"35ddd70b.475468","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":600,"wires":[[]]},{"id":"e6dc6886.dd72c8","type":"function","z":"35ddd70b.475468","name":"","func":"msg.payload = {\nguid : + new Date()    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":820,"wires":[["32069d68.13b682"]]},{"id":"de944626.0ca168","type":"function","z":"35ddd70b.475468","name":"","func":"msg.payload.guid=msg.payload.jobId;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":800,"wires":[["70e74e8e.266d8"]]},{"id":"32069d68.13b682","type":"eventstore-setup","z":"35ddd70b.475468","name":"","uri":"93a6fd57.d2d36","x":250,"y":900,"wires":[["de944626.0ca168"]]}]