flow.json
[{"id":"35ddd70b.475468","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cca78d58.d5b85","type":"inject","z":"35ddd70b.475468","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":220,"wires":[["548f0330.d70bfc"]]},{"id":"3b3e4a7f.9ae5e6","type":"debug","z":"35ddd70b.475468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":220,"wires":[]},{"id":"548f0330.d70bfc","type":"function","z":"35ddd70b.475468","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["3b3e4a7f.9ae5e6"]]}]